@import "tailwindcss";

:root {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}



@layer components {
  .default-bg {
    @apply rounded-2xl bg-gray-100 p-4 hover:bg-gray-200 focus:bg-gray-200;
  }

  .card {
    @apply overflow-hidden rounded-2xl border border-gray-200;
  }

  .cardImg { 
    @apply h-full w-full object-cover;
  }
}
